.about-movie {
  padding-top: 40px;
  padding-bottom: 120px;
}

.about-movie__title {
  margin: 0;
  margin-bottom: 64px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-white);
}

.about-movie__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--color-white);
}

.about-movie__item--unvisible {
  display: none;
}

.about-movie__wrapper {
  display: inline-block;
  width: 320px;
  position: relative;
}

.about-movie__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 6px;
  left: 0;
  border-bottom: 1px dotted var(--content-disabled);
}

.about-movie__text {
  background-color: var(--color-black);
}
