.search-wrapper {
  margin-right: 80px;
}

.search {
  display: flex;
  gap: 0 12px;
  align-items: center;
  max-width: 559px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--color-dark-grey);
}

.search__input {
  background-color: var(--color-dark-grey);
}
