@font-face {
  font-family: 'Play';
  src: url('./fonts/play-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Play';
  src: url('./fonts/play-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-family: 'Play', sans-serif;
  --color-dark-white: #ffffff80;
  --color-white: #fff;
  --color-black: #0a0b0b;
  --color-grey: #ffffffb2;
  --color-purple: #6a5dc2;
  --color-dark-grey: #393b3c;
  --content-disabled: rgba(255, 255, 255, 0.5);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
}

.title {
  margin: 0;
}

.title-secondary {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: var(--color-white);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background: none;
}

.btn-primary {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  padding: 16px 48px;
  border: none;
  border-radius: 28px;
  background-color: var(--color-purple);
  color: var(--color-white);
}
